<div class="container">
  <div class="col-lg-6 offset-lg-3">
    <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required appEmailDomain>
        <div class="alert alert-danger" *ngIf="loginForm.controls.email?.invalid && loginForm.controls.email?.touched">
          <ng-container *ngIf="loginForm.controls?.email?.errors?.required">
            This field is required
          </ng-container>
          <ng-container *ngIf="loginForm.controls?.email?.errors?.emailDomain">
            Email is invalid
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required #passwordControl="ngModel">
        <div class="alert alert-danger" *ngIf="passwordControl.invalid && passwordControl.touched">
          This field is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
