<div class="container">
  <div class="row">
    <h1 class="display-4 col-lg-10">Books overview</h1>
    <div class="col-lg-2 btn-header-group">
      <button type="button" class="btn btn-info" [routerLink]="['..', nextViewMode]">
        <i class="fas" [ngClass]="{
          'fa-table': viewMode === viewModeValues.GRID,
          'fa-th': viewMode === viewModeValues.TABLE
        }"></i>
        Toogle view
      </button>
    </div>
  </div>
  <app-books-list *ngIf="viewMode === viewModeValues.GRID; else booksTable" [books]="books$ | async"></app-books-list>

</div>

<ng-template #booksTable>
  <app-books-table [books]="books$ | async"></app-books-table>
</ng-template>

