.dropdown-menu {
  display: block;

  .img-thumbnail {
    height: 50px;
    margin-right: 10px;
  }
}

button.dropdown-toggle {
  width: 100%;
  text-align: left;
  overflow: hidden;

  &::after {
    float: right;
    margin-top: 10px;
  }
}

