<div class="container">
  <h1 class="display-4">Books overview</h1>
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <img src="https://ecsmedia.pl/c/harry-potter-i-kamien-filozoficzny-tom-1-w-iext43794838.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Harry Potter i Kamień Filozoficzny</h5>
          <p class="card-text">J.K. Rowling</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img src="https://ecsmedia.pl/c/harry-potter-i-komnata-tajemnic-tom-2-w-iext43244666.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Harry Potter i Komnata Tajemnic</h5>
          <p class="card-text">J.K. Rowling</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img src="https://ecsmedia.pl/c/harry-potter-i-wiezien-azkabanu-tom-3-w-iext43244650.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Harry Potter i Więzień Azkabanu</h5>
          <p class="card-text">J.K. Rowling</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img src="https://ecsmedia.pl/c/pacjentka-w-iext53973814.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Pacjentka</h5>
          <p class="card-text">Michaelides Alex</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img src="https://ecsmedia.pl/c/za-zamknietymi-drzwiami-w-iext47030382.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Za Zamkniętymi drzwiami</h5>
          <p class="card-text">B.A. Paris</p>
        </div>
      </div>
    </div>
  </div>
</div>
