<div class="container">
  <div class="row">
    <form class="col-lg-8 offset-lg-2">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author">
      </div>
      <div class="form-group">
        <label for="imageUrl">Cover url</label>
        <input type="text" class="form-control" id="imageUrl">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="isSoldOut">
        <label class="form-check-label" for="isSoldOut">Is sold out</label>
      </div>
      <a type="submit" class="btn btn-danger" routerLink="/books">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
