/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import "~@angular/cdk/overlay-prebuilt.css";

form {
  margin-top: 50px;

  input {
    &.ng-invalid.ng-touched {
      border-left: 5px solid red;
    }
  }

  .alert-danger {
    padding: 2px 10px;
  }
}

.cdk-overlay-container {
  background-color: black;
  opacity: 0.6 !important;
}
